.contenedorBienvenida {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: changeBackgroundColor 6s ease-in-out forwards;
    flex-direction: column;
    
    .mensajeDeEstado{
        font-family: 'Monkey Island SCUMM', sans-serif;
        color: white;
        font-size: 25px;
        text-align: center;
        height: 50px;
        display: flex;
        align-items: center;
        
    }

    .puertaBienvenida{
        width: 200px;
        margin:1rem 3rem 1rem 0;
    }
}

