.cuerpo__paginaPrincipal {
    display: flex;
    flex-direction: column;
    background-color: $colorFondoPrincipal;

    .paginaPrincipal__contenedorTitulo {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .contenedorTitulo__texto {
            color: white;
            text-align: center;
            padding: 2rem;
        }
    }

    .paginaPrincipal__mensaje {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 2rem;

        .mensaje__texto {
            color: white;
            text-align: left;
            padding: 0.5rem 2rem;
        }
    }
}