@font-face {
    font-family: 'Monkey Island SCUMM';
    src: url('/assets/ONESIZE_.TTF') format('truetype');
}

@font-face {
    font-family: 'Chicago';
    src: url('/assets/ChicagoFLF.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}